$background-color: linear-gradient(60deg, #fff9ec 0%, #ffdccc 100%);
$primary-color: #fb6376;
$secondary-color: #fcb1a6;
$tertiary-color: #5d2a42;
$button-background-color--disable: #cecece;
$button-color--disable: #ececec;
